<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>ABOUT US</title>
<link href="{{url_for('static', filename = 'css/styles.css')}}" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<table class="T" ><tr>
    <td><a href="/index" style="text-decoration: none"><div class="H">Hermes</div></a></td><td><a href="#"><img src="{{url_for('static', filename = 'images/log.png')}}" alt="log" style="max-width:50px; max-height:50px; padding-right:20%;float: right;"></a></td></tr></table>
<div class="HM"><img src="{{url_for('static', filename = 'images/HM.jpg')}}" alt="HM">
	</div>	
<table class="our" ><tr>
	<td><a href="#my"><img src="{{url_for('static', filename = 'images/pt.jpg')}}" alt="pattern" style="max-width:60px; max-height:60px; padding-right:50%;float: right;"></a></td><td><a href="#shen"><img src="{{url_for('static', filename = 'images/pt.jpg')}}" alt="pattern" style="max-width:60px; max-height:60px; padding-right:50%;float: right;"></a></td><td><div class="story"><strong>Our Story</strong></div></td><td><a href="#zheng"><img src="{{url_for('static', filename = 'images/pt.jpg')}}" alt="pattern" style="max-width:60px; max-height:60px; padding-right:30%;float: right;"></a></td><td><a href="#zhao"><img src="{{url_for('static', filename = 'images/pt.jpg')}}" alt="pattern" style="max-width:60px; max-height:60px; padding-right:30%;float: right;"></a></td></tr></table>
<div class="al1"><ul>
    <li><div class="aw1">I do not stand by in the presence of evil!</div></li>
	</ul></div>	
<table class="al2" background="{{url_for('static', filename = 'images/pa2.png')}}" border="0" cellpadding="0" cellspacing="0"><tr>
	<td><div class="city"><img src="{{url_for('static', filename = 'images/city.jpg')}}" alt="city"></div></td>
	<td><div class="ali"><strong>Alita</strong></div></td>
	<td><div class="alita1"><img src="{{url_for('static', filename = 'images/Alita1.jpg')}}" alt="city"></div></td>
	</tr></table>		
<div class="al3"><ul>
    <li><div class="aw1"><strong>Our team is called Alita and is taken from the recently released film "Alita." 
 Our group has the will of the heroine Alita, dare to love and hate, not afraid of difficulties, 
 fighting in the front line, and we do the elegant and chic task, this is the battle angel.
		</strong></div></li>
	</ul></div>
<table class="at2"  border="0" cellpadding="0" cellspacing="0"><tr>
	<td><div class="my" id="my"><img src="{{url_for('static', filename = 'images/MYSELF.JPG')}}" alt="myself"></div></td>
			<td><strong><br><div class="zj">Jiang Zhou (Vincent)</div></br></strong><div class="zjs">I love animals and the ocean, and I am a professional diver; I love beauty and art, and I am a painter who can program; I love science and technology, and I will become a wealthy space colonizer. I always believe you can’t play a God without being acquainted with the devil.</div></td>
	</tr></table>	
<div class="al4"><ul><li></li></ul></div>	
<table class="at3"  border="0" cellpadding="0" cellspacing="0"><tr>
	<td><strong><br><div class="jc">Jiacheng Shen (Carl)</div></br></strong><div class="jcs">                            
I’m a primary coding monkey with a strong interest in Datascience. I’m a rookie but not a salted fish, I always try my best. Except for computers, I am also interested in video games, especially DOTA2, and delicious food. I wish I could be a rich guy in the future!</div></td>
	<td><div class="shen" id="shen"><img src="{{url_for('static', filename = 'images/SHEN.png')}}" alt="shen"></div></td>
	</tr></table>	
<div class="al4"><ul><li></li></ul></div>
<table class="at4"  border="0" cellpadding="0" cellspacing="0"><tr>
	<td><div class="zheng" id="zheng"><img src="{{url_for('static', filename = 'images/ZHENG.jpg')}}" alt="zheng"></div></td>
			<td><strong><br><div class="hw">Hanwen Zheng (Peter)</div></br></strong><div class="hws">                     
I’m Peter Zheng. I’m the data analyst of the system. I like the system and I’m pretty sure that it will be popular.   I think data science will be one of the most important part of the world. I always expect my job to be perfect and different with others. I also like many sports.</div></td>
	</tr></table>
<div class="al4"><ul><li></li></ul></div>
<table class="at5"  border="0" cellpadding="0" cellspacing="0"><tr>
	<td><strong><br><div class="zc">Zichao Zhao</div></br></strong><div class="zcs">                            
I’m a coding rookie, but I want to try my best to improve my coding level. I’m also a Marxist. I’m interested in socialism. I hope one day communist society can be achieved.</div></td>
	<td><div class="zhao" id="zhao"><img src="{{url_for('static', filename = 'images/CM.png')}}" alt="zhao"></div></td>
	</tr></table>
<div class="al4"><ul><li></li></ul></div>
<div class="al5"><ul><li><strong>CONTACT US</strong></li></ul></div>
<table class="at6"border="0" cellpadding="0" cellspacing="0"><tr>
	<td><div class="nms"><img src="{{url_for('static', filename = 'images/NMS.jpg')}}" alt="NMS"></div></td>
	<td><div class="ctt"><strong><br>TEAM :  Alita (B03)</br>
		<br>alita.hermes@gmail.com</br></strong></div></td>
	<td><div class="is"><img src="{{url_for('static', filename = 'images/IS.jpg')}}" alt="IS"></div></td>
	</tr></table>
<div class="foot"><ul>
	<li><div class="w2">Copyright © 2019 Team B03 (Alita) All rights reserved (alita.hermes@gmail.com)</div></li>
	</ul></div>
    </div>	
</body>
</html>
