<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Hermes Login </title>
<link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="{{url_for('static', filename = 'js/jquery.min.js')}}"></script>
<script type="text/javascript">
$(document).ready(function(c) {
	$('.alert-close').on('click', function(c){
		$('.message').fadeOut('slow', function(c){
	  		$('.message').remove();
		});
	});	  
});
</script>

</head>
<body>

<div class="message warning">
	<div class="inset">
		<div class="login-head">
			<h1>Hermes User login</h1>
			<div class="alert-close"></div> 			
		</div>
		
		<form action="/login" method="post">
			<ul>
				<li><input name="userid"  type="text" class="text" value="username" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'username';}"><a href="#" class=" icon user"></a></li>
				<li><input name="userpwd" type="password" value="" /> <a href="#" class="icon lock"></a></li>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
								<li>{{ message }}</li>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</ul>
			
			<div class="submit">
				<input type="submit" onClick="myFunction()" value="login" >
				<h4><a href="register">Register</a></h4>
				<div class="clear">  </div>
			</div>
		</form>
	</div>
</div>

<!--- footer --->


</body>
</html>