<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Register </title>

<link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="{{url_for('static', filename = 'js/jquery.min.js')}}"></script>
<script type="text/javascript">
$(document).ready(function(c) {
	$('.alert-close').on('click', function(c){
		$('.message').fadeOut('slow', function(c){
	  		$('.message').remove();
		});
	});
});
</script>

</head>
<body>


<div class="message warning">
	<div class="inset">
		<div class="login-head">
			<h1>User register</h1>
			<div class="alert-close"></div>
		</div>

		<form action="/register" method="POST">
			{{ form.hidden_tag }}
			<ul>
				<li>username</li>
				<li>{{ form.username }}</li>
				<li>password</li>
				<li>{{ form.password }}</li>
				<li>password again</li>
				<li>{{ form.password2 }}</li>
				<li>fullname</li>
				<li>{{ form.fullname }}</li>
			</ul>


			<div class="submit">
				<input type="submit" value="register">
				<div class="clear">  </div>
			</div>
		</form>
		<ul>
				{% for field, errors in form.errors.items() %}
					{% for message in errors %}
						<li><h3>{{ message }}</h3></li>
					{% endfor %}
				{% endfor %}
			</ul>
	</div>
</div>



</body>
</html>