<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Something Wrong!</title>
</head>
<body>
<h1 style="text-align:center; color:red;">Something is wrong!</h1>
<p>Sorry dear user: something in this web back-end program is wrong</p>
<p>but we don't know why, but we will try our best to fix all the bugs!</p>
<p>This project is still in infancy, so please give it more support and encouragement.</p>
<p>We believe with your tolerance and support, Hermes will be better and give you better user experience!</p>
<p>Our heartfelt thanks to you!    ---Alita Group</p>
<a href="/login">Login page</a>
</body>
</html>